@import "./../../theme.less";
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: @background_Color;
	height: 100%;
	overflow: auto;
	.body {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 900px;
		background-color: @empty_Color;
		overflow: auto;
		.banners {
			padding: 5px 0;
			height: 600px;
			width: 100%;
		}
		.introduction {
			padding: 5px;
			width: 100%;
			height: 1400px;
		}
	}
}
