@import "../../../../theme.less";

.main {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 5px;
	background-color: @background_Color;
	.title {
		font-weight: 600;
		font-size: 28px;
		line-height: 28px;
		height: 30px;
		width: 100%;
		color: #000;
		cursor: pointer;
	}
	.title :hover {
		text-decoration: underline;
	}
	.middle_info {
		display: flex;
		flex-direction: row;
		font-size: 12px;
		height: 20px;
		color: #444444;
		.middle_info_time {
			width: 200px;
		}
		.middle_info_author {
			flex: 1;
		}
	}
	.body {
		flex: 1;
		font-size: 14px;
		line-height: 20px;
	}
}
