// 主题颜色
@base_Color: #333333;

// 背景颜色
@background_Color: rgba(255, 255, 255, 0.575);

@empty_Color: rgba(192, 192, 192, 0.178);

// 图标颜色
@icon-color: #0d0e08;

// 圆角大小
@border-radius: 5px;
// 字体悬浮颜色
@hover-color: #4d89fb;
// 基本色
@red-1: #800000;
@red-2: #a52a2a;
@red-3: #b22222;
@red-4: #dc143c;
@red-5: #ff1493;
@red-6: #ff69b4;
@red-7: #ffb6c1;
@red-8: #fff0f5;

@white-1: #333333;
@white-2: #666666;
@white-3: #999999;
@white-4: #aaaaaa;
@white-5: #cccccc;
@white-6: #e5e5e5;
@white-7: #f5f5f5;
@white-8: #f1f2f5;
@white-9: #fafafa;
@white-10: #ffffff;

@green-1: #1c5a24;
@green-2: #277e33;
@green-3: #33a242;
@green-4: #39b54a;
@green-5: #74cb80;
@green-6: #9cdaa4;
@green-7: #ebf7ed;
