@import "./../../theme.less";
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: @empty_Color;
	height: 100%;
	width: 100%;
	overflow: auto;
	.body {
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		max-width: 900px;
		padding: 10px;
		background-color: @empty_Color;
		.toolBar {
			width: 100%;
			height: 50px;
			display: flex;
			flex-direction: row;
		}
	}
}
